* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 128rem;
  max-height: 32rem;
  padding: 4rem;
}

.center-on-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center {
  text-align: center;
}

body {
  background-color: black;
  transition: background-color 1s;
}

@font-face {
  font-family: GTAmerica;
  src: url('https://cdn.glitch.com/8b90b826-8e18-404e-b550-e79efbabd659%2Fgt-america-bold.woff?v=1569802022342');
  font-weight: 700;
}
@font-face {
  font-family: GTAmerica;
  src: url('https://cdn.glitch.com/8b90b826-8e18-404e-b550-e79efbabd659%2Fgt-america-regular.woff?v=1569802022028');
  font-weight: 400;
}

.number {
  color: white;
  font-size: 20vmin;
  font-family: GTAmerica;
  font-weight: 700;
}

.sub-text {
  color: white;
  font-size: 8vmin;
  font-family: GTAmerica;
  font-weight: 400;
}

.message {
  color: white;
  font-size: 5vmin;
  font-family: GTAmerica;
}

.flex-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.messages {
  margin: 1rem;
  position: absolute;
}
